@font-face {
    /*!
    "Zen Kaku Gothic Antique" is lisenced under the SIL Open Font License 1.1
    https://fonts.google.com/specimen/Zen+Kaku+Gothic+Antique
    https://fonts.google.com/attribution

    ===========================================================================

    ZenKakuGothicAntique-Light.ttf: Copyright 2022 The Zen Project Authors (https://github.com/googlefonts/zen-kakugothic)
    ZenKakuGothicAntique-Regular.ttf: Copyright 2022 The Zen Project Authors (https://github.com/googlefonts/zen-kakugothic)
    ZenKakuGothicAntique-Medium.ttf: Copyright 2022 The Zen Project Authors (https://github.com/googlefonts/zen-kakugothic)
    ZenKakuGothicAntique-Bold.ttf: Copyright 2022 The Zen Project Authors (https://github.com/googlefonts/zen-kakugothic)
    ZenKakuGothicAntique-Black.ttf: Copyright 2022 The Zen Project Authors (https://github.com/googlefonts/zen-kakugothic)
    */
    font-family: 'Zen Kaku Gothic Antique';
    src: url('/fonts/ZenKakuGothicAntique-Black.ttf') format('truetype');
    src: url('/fonts/ZenKakuGothicAntique-Bold.ttf') format('truetype');
    src: url('/fonts/ZenKakuGothicAntique-Medium.ttf') format('truetype');
}


body{
    font-family: 'Zen Kaku Gothic Antique';
}

.title{
    display: inline-block; /* テキストを１行に抑える */
    width: 100%; /* 親要素内に収まるようにする */
    white-space: nowrap; /* テキストを１行に抑える */
    margin : 50px auto;
    text-align:center;
}

.description{
    display: inline-block; /* テキストを１行に抑える */
    width: 100%; /* 親要素内に収まるようにする */
    white-space: nowrap; /* テキストを１行に抑える */
    margin : 50px auto;
    text-align:center;
}

.warn{
    display: inline-block; /* テキストを１行に抑える */
    width: 100%; /* 親要素内に収まるようにする */
    white-space: nowrap; /* テキストを１行に抑える */
    margin : 50px auto;
    text-align:center;
    color: red;
}

.hidden{
    display: none;
}


.modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: auto;
    transition: .3s ease-out;
    z-index: 100;
}

.modal_body {
    background: rgb(255, 255, 255);
    z-index: 101;
    text-align: center;
  }

