.center{
    width: fit-content;
    margin: auto;
}
th{
    text-align: left;
    vertical-align: top;
}
label{
    font-size: 20px;
}
input{
    width: 100px;
    height: 20px;
    font-size: 15px;
}
.form input[type="submit"]{
    width: auto;
    height: auto;
}
select{
    width: auto;
    height: auto;
}
select .address_type{
    width: auto;
    height: auto;
}
sup{
    font-size: 10px;
}