<launch>
    <node pkg="amcl" type="amcl" name="amcl">
        <param name="transform_tolerance" value="1.0"/>
        <param name="max_particles" value="500"/>
        <param name="min_particles" value="200"/>
        <!-- mapトピックからマップを拾う -->
        <param name = "use_map_topic" value = "true" />

        <!-- 視覚化のために結果をpublishするレート -->
        <param name = "gui_publish_rate" value = "2.0" />

        <!-- LiDARの測距データを一周当たりいくつ拾うか -->
        <param name = "laser_max_beams" value = "100" />

    </node>

</launch>