<launch>
    <!-- odometryトピックと tf(odom to base_link) を飛ばすやつ -->
    <node name="odom_publisher"    pkg="odom_publisher" type="tf_odom_pub" output="screen"/>

    <!-- cmd_velをarduinoに飛ばすやつ -->
    <node name="cmd_vel_subscriber"    pkg="cmd_vel_subscriber" type="cmd_vel_subscriber" output="screen"/>

    <!-- rplidarで測距してscanトピックを飛ばすやつ -->
    <node name="rplidarNode" pkg="rplidar_ros" type="rplidarNode" output="screen">
        <param name="serial_port" type="string" value="/dev/ttyUSB0"/>
        <param name="serial_baudrate"     type="int"    value="1000000"/>
        <param name="frame_id" type="string" value="laser"/>
        <param name="inverted" type="bool" value="false"/>
        <param name="angle_compensate" type="bool" value="true"/>
    </node>


    <!-- LiDARの場所をいじるならここ tf(baselink to laser) を飛ばすやつ -->
    <node pkg="tf" type="static_transform_publisher" name="baselink_to_laser" args="0.12 0 0.42 0 0 0 base_link laser 100" /> 


    <!-- mapのファイルパスをここで指定する -->
    <!-- mapトピックを配信する -->
    <node name="map_server" pkg="map_server" type="map_server" args="/home/mirs2302/maps/maplab.yaml" />



    <!-- initialposeを0,0,0で配信するテスト -->
    <node pkg="navigator" type="initial_pose.py" name="initial_pose_publisher" output="screen" />

    <!-- AMCLを起動する -->
    <!-- パラメータについては https://robo-marc.github.io/navigation_documents/amcl.html  -->
    <node pkg="amcl" type="amcl" name="amcl">
        <param name="transform_tolerance" value="1.0"/>
        <param name="max_particles" value="500"/>
        <param name="min_particles" value="200"/>
        <!-- mapトピックからマップを拾う -->
        <param name = "use_map_topic" value = "true" />

        <!-- 視覚化のために結果をpublishするレート -->
        <param name = "gui_publish_rate" value = "2.0" />

        <!-- LiDARの測距データを一周当たりいくつ拾うか -->
        <param name = "laser_max_beams" value = "100" />

    </node>


    <!-- move baseを起動する -->
    <!-- <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    </node> -->


    <node pkg="rviz" type="rviz" name="rviz" />



</launch>