/* ページ全体のスタイル */
body{
    font-family: 'Zen Kaku Gothic Antique';
    margin: 0;
    padding: 0;
    font-weight: 500;
    height: 100%
}

/* ページタイトルのスタイル */
.title {
    display: flex;
    font-size: min(7vh, 4vw);
    font-weight: 900;
    margin: 10px;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    max-height: 10vh;
}
.title img {
    width: 10%;
    height: auto;
    margin-right: 20px;
}

/* ナビゲーションメニューのスタイル */
nav{
    margin: 0 10px;
    padding: 10px 0;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    text-align: center;
}
nav ul{
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: auto;
}
nav li{
    list-style: none;
    display: inline-block;
    width: 24%;
    min-width: 130px;
}
nav li:not(:last-child){
    border-right:2px solid #ddd;
}
nav .menu{
    font-size: 16px;
    text-decoration: none;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
}
nav .menu:hover:not(:active){
    text-decoration: underline;
    text-underline-position: under;
}
nav .menu:active{
    font-size: 15px;
    font-weight: 900;
}
nav .menu.selected:not(:active){
    color: black;
    font-weight: 900;
}

/* iframeに関するスタイル */
.iframe-container{
    position: relative;
    overflow: hidden;
    padding-top: 100%;
}
iframe{
    /*margin: 0 50px;*/
    position: absolute;
    top: 0;
    align-content: center;
    width: 100vw; /* スタイルのフレームがはみ出す問題はこいつ */
    height: 100%;
    border: none;
}
iframe.view{
	visibility : visible;
}
iframe.hide{
	display : none;
}