body{
  font-family: 'Zen Kaku Gothic Antique';
}

img{
  width: 100vw;
}

/* タイトルのスタイル */
.title{
  font-size: 25px;
  font-weight: bold;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  text-align: center;
}

h4 {
  border-bottom: solid 2px rgb(96, 96, 96);
  width: 170px;
  margin: auto;
}
h4 img{
  width: 15px;
  margin-right: 10px;
}


ol{
  margin: 0;
  padding: 0;
}
ol li{
  list-style: none;
  margin: 0.5em 1.3em;
  padding-left: 1.3em;
  text-indent: -1.3em;
}

.cell1{
  line-height: 30px;
}

summary{
  font-size: 1.2em;
}
summary img{
  width: 15px;
  margin-left: 5px;
}

/* 質問formリンクのスタイル */
.textlink06 a[target=_blank] {
  display: grid;
  place-items: center;
  border: 1px solid gray;
  border-radius: 5px;
  margin: auto;
  padding: 10px;
  padding-right: 30px;
  color: black;
	background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20class%3D%22feather%20feather-external-link%22%3E%3Cpath%20d%3D%22M18%2013v6a2%202%200%200%201-2%202H5a2%202%200%200%201-2-2V8a2%202%200%200%201%202-2h6%22%3E%3C%2Fpath%3E%3Cpolyline%20points%3D%2215%203%2021%203%2021%209%22%3E%3C%2Fpolyline%3E%3Cline%20x1%3D%2210%22%20y1%3D%2214%22%20x2%3D%2221%22%20y2%3D%223%22%3E%3C%2Fline%3E%3C%2Fsvg%3E');
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: right 10px center;
  text-decoration: none;
  text-align: left;
}

.textlink06 a[target=_blank]:hover {
	color: #ceb849;
	background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%23B99b00%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20class%3D%22feather%20feather-external-link%22%3E%3Cpath%20d%3D%22M18%2013v6a2%202%200%200%201-2%202H5a2%202%200%200%201-2-2V8a2%202%200%200%201%202-2h6%22%3E%3C%2Fpath%3E%3Cpolyline%20points%3D%2215%203%2021%203%2021%209%22%3E%3C%2Fpolyline%3E%3Cline%20x1%3D%2210%22%20y1%3D%2214%22%20x2%3D%2221%22%20y2%3D%223%22%3E%3C%2Fline%3E%3C%2Fsvg%3E');
}